Package: com.w00tylab.splashboarddcrashfixer
Name: Splashboardd Crash Fixer
Depends: mobilesubstrate
Version: 1.0
Architecture: iphoneos-arm
Description: Splashboardd crash fixer
Maintainer: moeseth
Author: moeseth
Section: Tweaks
